.content_food{
    margin: 0 auto;
    /* background-color: antiquewhite; */
    width: 80%;
    padding-left: 30px;
}
.content_food .title_food{
    text-align: center;
    padding-top: 10px;
    font-size: 30px;
}
.content_food .food_grid{
    width: 100%;
    display: grid;
    /* background-color: aqua; */
    grid-template-columns: auto auto auto;
    padding-left: 30px;
    padding-right: 30px;
    gap: 60px;
}
.content_food .food_grid .item{
    display: grid;
    border: 2px solid black;
    border-radius: 5px;
    padding: 0 20px;
    overflow: hidden;
    /* background-color: blueviolet; */
}
.item .food_addcart{
    visibility: hidden;
    text-align: center;
    z-index: 3;
}
.item:hover .food_addcart{
    visibility: visible;
    font-size: 20px;
    font-weight: 600;
    background-color: antiquewhite;
    border-radius: 15px;
    transition: 0.3s ease-in-out;
}
.item .food_name{
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}
.item .food_price{
    font-size: 20px;
    margin-bottom: 20px;
}
.item .food_price .up_price{
   margin-right: 205px;
   color: brown;
   text-decoration:line-through;
   opacity: 0.5;
}
.item .food_price sub{
    
} 
.item img{
    justify-items: center;
    width: 300px;
    height: 250px ;
}
.item img:hover{
    scale: 1.1;
    transition: 0.3s ease-in-out;
    overflow: hidden;
}